.calc_block {
  box-shadow: 0px 4px 6px 0px #0000001A;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 12px;
}
.calc_result {
  background-color: #F3F4F6;
  padding: 4px 8px;
  border-radius: 6px;
}
.calculate_block {
  display: flex;
}
.calculate_button {
  border: 1px solid #E2E3E5;
  background-color: #E2E3E5;
  border-radius: 6px;
  flex: 1;
}
.button_wrapper {
  display: flex;
  padding: 4px;
}
.calc_button {
  flex: 1;
  border-radius: 6px;
  border: 1px solid #E2E3E5;
  background-color: unset;
  transition: background-color 100ms, color 100ms, border-color 100ms;
}
.calc_button:active {
  background-color: #5D5FEF;
  color: white;
}
.calc_button:focus {
  border-color: #5D5FEF;
}
.disabled {
  opacity: 0.5;
}
.highlight {
  height: 2px;
  width: 100%;
  background-color: unset;
}
.highlight.active {
  background-color: blue;
}

.build_zone_wrapper {
  display: flex;
}
.build_zone {
  border: 2px dashed #C4C4C4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}
.build_zone_runtime {
  border: none;
}
.build_zone_message_heading {
  color: #5D5FEF;
}
.build_zone_message_text {
  color: #6B7280;
  font-size: 12px;
}
.build_zone_highlight {
  background-color: #F0F9FF;
}
.mode_switch {
  background-color: #F3F4F6;
  border-radius: 6px;
  display: flex;
  padding: 1px;
  margin-bottom: 30px;
}
.button_for_radio {
  padding: 10px 12px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #F3F4F6;
  border-radius: 6px;
  transition: background-color 100ms;
}
.hidden_radio {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.hidden_radio:active + .button_for_radio {
  background-color: #5D5FEF;
}
.hidden_radio:checked + .button_for_radio {
  background-color: white;
  border: 1px solid #E2E3E5;
}
.hidden_radio:checked + .button_for_radio path {
  stroke: #5D5FEF;
}
.button_for_radio svg {
  margin-right: 8px;
}